{% extends 'base.html.twig' %}

{% block title %}Film Detail Page{% endblock %}
{% block body %}
    <h1>Film detail page</h1>
    <div>
        <span>{{ film.title }}</span><br>
        <span>{{ film.getEpisodeId() }}</span><br>
        <span>{{ film.getOpeningCrawl() }}</span><br>
        <span>{{ film.getDirector() }}</span><br>
        <span>{{ film.getProducer() }}</span><br>
        <span>{{ film.getReleaseDate() }}</span><br>
        <span>{{ film.getReleaseDate() }}</span><br>
        <span>
            {% for planet in film.getPlanets() %}
                {{ planet }}
            {% endfor %}
        </span><br>
    </div>
{% endblock %}
