{% extends 'base.html.twig' %}

{% block title %}Film Detail Page{% endblock %}
{% block body %}
    <h1>Film detail page</h1>
    <div>
        <span>{{ film.title }}</span><br>
        <span>{{ film.getDirector() }}</span><br>
        <span>{{ film.getReleaseDate() }}</span><br>
        {% for character in film.getCharacters() %}
            <span>{{ character.name }}</span><br>
            <span>{{ character.gender }}</span><br>
        {% endfor %}
    </div>
    <br>
{% endblock %}
