{% extends 'base.html.twig' %}

{% block title %}Character Detail Page{% endblock %}
{% block body %}
    <div style="margin-left: 30px;">
        <span>Name:</span>
        <span>{{ character.getName() }}</span><br>
        <span>Gender:</span>
        <span>{{ character.getGender() }}</span><br>
        <span>Species</span>
        <ul id="navigation">
            {% for species in character.getSpecies() %}
                <li>
                    <span>{{ species.getName() }}</span>
                    <span>{{ species.getClassification() }}</span>
                    <span>{{ species.getDesignation() }}</span>
                    <span>{{ species.getAverageHeight() }}</span>
                </li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}
